* {
  transition: all 1s ease-in-out;
}

body {
  background: #000;
  background-image: linear-gradient(0deg, #000000ff 0%, #000000ff 100%), url("../img/WDDABackground.svg");
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  perspective: 100vw;
  overflow: hidden;
}

#lrSec {
  display: flex;
  align-items: center;
  transform: rotateX(10deg);
}

#lrSec img {
  margin: -0.575vw;
  clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
  transition: all 0s linear;
}

#left {
  transform: rotateY(25deg);
  object-position: center left;
}

#right {
  transform: rotateY(335deg);
  object-position: center right;
}

.siteLogo {
  width: 11.4vw;
  height: 20vw;

  object-fit: cover;
}

h2 {
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: calc(2vh + 2vw);
  transform: skew(165deg);
}

#cover {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(1px);
  background-image: url(../img/frame.png);
  background-size: 100% 100%;
}

#loading {
  opacity: 0;
  width: 20vw;
  image-rendering: pixelated;
}
