* {
    transition: all 0.25s ease-in-out;
    font-family: Industry, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html, body {
    background-color: #ddd;
    color: #222;
    margin: 0;
    overflow-x: hidden;
    height: fit-content;
}

input[type="checkbox"] {
    display: none;
}

label:hover {
    cursor: pointer;
}

label.navLabel {
    width: 10vw;
    height: 10vh;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(10px);
    background-color: #1177eeb0;
    color: white;
    font-size: calc(3vh + 3vw);
    font-weight: bold;
}

nav {
    --width: 25vw;

    position: absolute;
    top: 10vh;
    left: calc(-1.25 * var(--width));
    z-index: 99;
    
    display: flex;
    width: var(--width);
    backdrop-filter: blur(10px);

    transition-duration: 1s !important;
}

#navOpener:checked ~ nav {
    left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul, nav ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

nav ul li {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #000000b0;
}

nav ul li:hover {
    z-index: 2;
    background-color: #000000d0;
    box-shadow: 0px 4px 4px #00000040, 0px -4px 4px #00000040;
}

nav ul li a {
    width: calc(25vw - 5vh);
    height: 5vh;
    padding-left: 0.5vw;

    color: white;
    text-decoration: none;

    display: flex;
    align-items: center;
}

#submenu1 {
    display: none;
    height: 0;
}

#submenu1Btn:checked ~ #submenu1 {
    display: flex;
    height: fit-content;
}

#submenu1 ul li {
    --padding-left: 2vw;
    width: calc(25vw - var(--padding-left));
    padding-left: var(--padding-left);

    background-color: #ffffffb0;
    color: #000;
}

#submenu1 ul li:hover {
    background-color: #ffffffd0;
}

.submenuBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    aspect-ratio: 1;

    background-color: white;
}

#fade1 {
    --fadeScale: 3.5;

    position: absolute;
    top: calc(50vh - var(--fadeScale) * 50vh);
    left: calc(50vw - var(--fadeScale) * 50vw);
    z-index: 99;

    width: calc(var(--fadeScale) * 100vw);
    height: calc(var(--fadeScale) * 100vh);
    
    background-color: #900;
    clip-path: polygon(50% calc((var(--fadeScale) * 50vh) - 14.142vw), calc((var(--fadeScale) * 50vw) - 14.142vw) 50%, 50% calc((var(--fadeScale) * 50vh) + 14.142vw), calc((var(--fadeScale) * 50vw) + 14.142vw) 50%, 50% calc((var(--fadeScale) * 50vh) - 14.142vw), 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition-duration: 1s;
}

#fadeOpener:checked ~ #fade1 {
    clip-path: polygon(50% 0, calc((var(--fadeScale) * 50vw) - 84.375vw) 50%, 50% 100%, calc((var(--fadeScale) * 50vw) + 84.375vw) 50%, 50% 0, 50% 10vw, calc((var(--fadeScale) * 50vw) + 74.375vw) 50%,  50% calc((var(--fadeScale) * 100vh) - 10vw), calc((var(--fadeScale) * 50vw) - 74.375vw) 50%, 50% 10vw);
}

#fade2 {
    position: absolute;
    top: calc(50vh - var(--fadeScale) * 50vh);
    left: calc(50vw - var(--fadeScale) * 50vw);
    z-index: 98;

    width: calc(var(--fadeScale) * 100vw);
    height: calc(var(--fadeScale) * 100vh);
    
    background-color: #229;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 0, 50% calc((var(--fadeScale) * 50vh) - 10vw), calc((var(--fadeScale) * 50vw) + 10vw) 50%, 50% calc((var(--fadeScale) * 50vh) + 10vw), calc((var(--fadeScale) * 50vw) - 10vw) 50%, 50% calc((var(--fadeScale) * 50vh) - 10vw), 50% 0);
    transition-duration: 1s;
}

#fadeOpener:checked ~ #fade2 {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%, 50% 0, 50% 0, calc((var(--fadeScale) * 50vw) + 80vw) 50%, 50% 100%, calc((var(--fadeScale) * 50vw) - 80vw) 50%, 50% 0, 50% 0);
}